body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.16;
  color: #434455;
  font-style: normal;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
:hover,
:active {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
button {
  cursor: pointer;
}
img {
  display: block;
  width: 100%;
  height: auto;
}


.container {
max-width: 320px;
padding:0 16px;

margin: 0 auto; 

}

.section {
  padding: 96px 0;
  
}

@media screen and (min-width: 768px) {
  .container{
max-width: 768px;
}
}

@media only screen and (min-width: 1158px){
  .container{
    max-width: 1158px;
 
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  }
  .section {
    padding: 120px 0;
   
  }
}

.hide{
  display: none;
}

/* header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.page-header {
  display: flex;
   justify-content: space-between; 
   align-items: center;
}


.page-nav {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}


.page-logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;

  padding: 25px 0;
}
@media only screen and (min-width:768px){ .page-logo{margin-right: 120px;}}

@media only screen and (min-width:1158px){
  .page-logo{ margin-right: 76px;}
}

.logo-span {
  color: #2e2f42;
}
.menu,.menu-adress{
  display: none;
}
@media only screen and (min-width: 768px) {
  .menu {
    display: flex;
   gap: 40px;
   justify-items: center;
   align-items: center; 
   margin-right: 120px;
 } 
 .menu-adress {
   display: flex;
   font-style: normal;
   justify-items: center;
   justify-content: center;
   
 } 
}
@media only screen and (min-width: 1158px) {

 .page-header{
   justify-content: center;
   align-items: center;
   
 } 

 .page-nav{
  align-items: center;
  justify-content: center;
  
 }
 .adress-li{
  margin: 24px 0;
 }
}
.mobile-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 0;
  border: none;
  background-color: transparent;
}
.mobile-menu-frame .icon-li{
  justify-content: start;
  margin-bottom: 40px;
}
.icon-menu-svg{
  width: 24px;
  height: 24px;
 
  stroke: #2F2F37;
  fill:#2F2F37;
}
@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
 } }
.menu-li {
  font-family: Roboto;
  font-style: normal;
  color: #2e2f42;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;

  display: flex;
  flex-direction: column;

  align-items: center;

}
.menu-link,
.address-li {
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .menu-li:active {
  text-decoration: underline #404bbf 2px;
  
} */
.menu-li .current {
  position: relative;
  color: #404bbf;
}
.menu-li .current::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.menu-link:focus,
.menu-link:active,
.menu-link:hover {
  color: #404bbf;
}

@media only screen and (min-width: 768px) {
  .adress-list-mob {
    margin:16px 0 12px 0;

  }
  .adress-link{
    font-size:12px;} 
  .menu-li{
    justify-content: center;
  }
}
@media only screen and (min-width: 1158px){
  .adress-list-mob {
  display: flex;
  gap: 40px;
  align-items:center;
  margin: 0;
}
}

.adress-li {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.adress-link:hover,
.adress-link:active,
.adress-link:focus {
  color: #404bbf;
}
/* hero */

.hero-section {
  max-width: 1440px;
  
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  .hero-section {
padding: 112px auto;
background-image: linear-gradient(
  rgba(46, 47, 66, 0.7),
  rgba(46, 47, 66, 0.7)
),
 url(../images/background.jpg);
  }
  }

@media only screen and (min-width: 1158px) {
  .hero-section {
padding: 188px auto;
margin: auto;
}}

 

@media only screen and (min-width: 1158px) and(min-resolution:192dpi),  (min-resolution:2dppx){
  .hero-section{
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
     url(../images/g2x.png);
  }
}


.hero-title {
  color: #fff;
  text-align: center;
  margin: auto;
  font-size: 36px;
  font-weight: 700;
  max-width: 216px;
  line-height: 1.11;
  letter-spacing: 0.02em; 
padding:0 24px ;
 margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .hero-title{
    max-width: 496px;
    line-height: 1.07;
  font-size: 56px;
  padding: 0;
margin-bottom: 36px;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-title{

margin-bottom: 48px;
  }
}

.button {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  border: none;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 0 auto ;
  display: block;
  height: 56px;
 min-width: 105px;
  padding: 16px 32px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
@media only screen and (min-width: 768px) {
  .button {
    min-width: 169px;
padding: 0 auto;
  }
}


.button:hover,
.button:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: #404bbf;
}

.modal{
 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
   visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal.is-open{
 background-color: rgba(46, 47, 66, 0.4);
}
.modal-overlay { 
  
  z-index: 999;
  visibility: hidden;
  align-items: center;
  opacity: 0;
  position: absolute;
  padding: 72px 24px 24px 24px; 
  max-width: 320px;
  min-height: 623px;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  transform: translate(-50%,-50%);
  overflow-y: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}  
@media only screen and (min-width: 768px) {
  .modal-overlay{

max-width: 408px;

  min-height: 584px;}
}



.modal-overlay:not(.is-open) .modal{
  transform: translate(-50%,-50%) scale(0.5);

}
.legend {
  color: var(--NAVY-BLUE, #2e2f42);

margin-bottom: 16px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.5; 
}

.label-form{
  color: var(--LIGHT-SLATE, #8E8F99);

  font-size: 12px;
  font-weight: 400;
  line-height: 1,2;
  
letter-spacing: 0.04em;
}
.comment{
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));

font-family: Roboto;
font-size: 12px;

font-weight: 400;
line-height: 1,2;
letter-spacing: 0.04em;
}


.btn-close{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  color:  #2E2F42;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  transition-property: background-color;
  background-color: var(--CORNFLOWER, #E7E9FC);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
 padding: 0;
  border:1px solid;
  border-color:  rgba(0, 0, 0, 0.1);
}
.close-icon {
width: 8px;
height: 8px;
color:  #2E2F42; 
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.btn-close:hover,.btn-close:focus{
  border: none;
  background-color: #404bbf;
  border: none;
  fill:  #FFFFFF;
}


.btn-close:hover, .btn-close:focus{
  background-color:#404BBF;
  border: none;
  color: #FFFFFF;
}
.close-icon:hover, .close-icon:focus{
  fill:  #FFFFFF;
  border: none;
}
.form-label{
position: relative;
  margin-bottom: 8px;
 
  display: flex;

}

.form-input:hover, .form-input:focus{
  border-color: #4d5ae5;
}
.form-input:hover + .footer-icon, .form-input:focus + .form-icon{
  fill: #4D5AE5;
}

.form-label:hover >.form-icon, .form-label:focus >.form-icon{
fill: #4D5AE5;
}
.form-input{
  width: 100%;
  height: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  outline: transparent;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
border-radius: 4px;
padding-left: 38px;
border-color :250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label {
  display: flex;
  flex-direction: column;
 
}

.form-icon{
  position: absolute;
  left: 16px;
  top: 50%;
  fill: #2E2F42;
  transform: translateY(-50%); 
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.form-area{
  margin-bottom: 16px;
  
}

.form-accept {
  width: 16px;
  height: 16px;
  stroke-width: 1px;
  stroke: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  margin-right: 8px;
}

.comment{
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17; letter-spacing: 0.04em;
 color: rgba(46, 47, 66, 0.4); 
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color:transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  resize: none;
  outline: transparent;
}
.comment:focus, .comment:hover{
  border-color: #4D5AE5;
}

input[type='checkbox']:checked+label>span{
  border: none;
background-color: #404bbf;
fill:  #F4F4FD;

}
input[type='checkbox']:checked+label>span>svg{
  background-color:  #404BBF;
 
}

.form-group {
 margin-bottom: 8px;
}


.form-accept {
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.checkbox{
  margin-bottom: 24px;


}

.accept-label{
  
  color: var(--LIGHT-SLATE, #8E8F99);
  font-weight: 400;
  font-size: 12px;
line-height:1.17; /* 116.667% */
letter-spacing: 0.04em;

}

.box-span{
  display: inline-flex;
  align-items: center;
/* justify-content: center;  */
width: 16px;
height: 16px;
border: 1px solid rgba(46, 47, 66, 0.4); 
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
border-radius: 2px;
fill: transparent;
margin-right: 8px;

}
.form-icon-active{
cursor: pointer;
width: 100%;
height: 100%;
position: relative;

}
.form-span {
  color: var(--IRIS, #4d5ae5);
margin-left: 4px;
  text-decoration-line: underline;
  text-decoration-style: solid;

  text-underline-position: from-font;

}
.submit-btn {
  display: block;
  cursor: pointer;
  margin: 0 auto;
  height: 56px;
  min-width: 169px;
  /* padding: 16px 32px; */
  font-family: "Roboto", sans-serif ;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: none;
  background-color: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #404bbf;
}
/* .benefits{
  padding: 120px 0;
} */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.icon {
  fill: none;
  align-items: center;
  justify-content: center;
  margin: 24px 100px;
}
.mobile-menu-frame{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #FFF;
padding: 72px 16px 40px 16px;
display: flex;
flex-direction: column;
transform: translateX(100%);
transition: 300ms ease-in;
transition-property: transform;
}
.mobile-menu-frame.is-open{
  transform: translateX(0);
}

.mobile-close{
  position: absolute;
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color:  #2E2F42;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  transition-property: background-color;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  border:1px solid;
  border-color:  rgba(0, 0, 0, 0.1);
}
.mobile-close:hover, .mobile-close:focus{
background-color:#4D5AE5 ;
}
.close-icon {
width: 8px;
height: 8px;
color:  #2E2F42; 
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.mobile-nav{
display: flex;
flex-direction: column;
gap: 40px;

color: var(--NAVY-BLUE, #2E2F42);
margin-bottom: auto;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
}

.mobile-link:hover, .mobile-link:focus{
color:#404BBF;
}
.adress-list{
  margin-bottom: 48px;
}
.adress-li-mob{
  margin-bottom: 24px;
}
.mob{
  color: var(--SLATE, #434455);
/* Header 3 */

font-size: 20px;

font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.02em;

}
.icon-li-mob{
  display: flex;
  gap: 40px;
 
  justify-content: center;
}

@media only screen and (min-width: 1158px) {
  .benefits{
padding: 120px 0;

 }
}

.benefits-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 8px;
  color: var(--NAVY-BLUE, #2E2F42);
  line-height: 1.11;
  letter-spacing: 0.02em; 
  max-width: 288px;
}

@media only screen and (min-width: 768px) {
  .benefits-title{
    max-width: 264px;
   text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .benefits-title{
  font-size: 20px;
  margin: 8px 0;
  font-weight: 500;
  line-height: 1.2; 
  }
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  font-size: 16px;
  margin: 0;
}
.icon-div{
  display: none;
}
.benefits-li{
  max-width: 264px;
}
@media only screen and (min-width: 768px) {
  .benefits-list{
    flex-direction:row;
    flex-wrap:wrap;
    
    gap: 72px 24px ;
width: 100%;

  }
  .benefits-li{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
 max-width: 356px;
}

}

@media only screen and (min-width: 1158px) {
  .benefits-list{
    gap: 24px; 
  font-size: 20px;
  font-weight: 400;
min-width: 100%;}
 
    .icon-div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 112px;
      margin-bottom: 8px;
      border-radius: 4px;
      border: 1px solid var(--LIGHT-SLATE, #8e8f99);
      background: var(--CLOUD, #f4f4fd);
    }
    
  }

@media only screen and (min-width: 1158px) {
  .benefits-li {
    max-width: calc((100% - 72px) / 4);
  }
}


.benefits-text {

font-size: 16px;
font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 1158px){
  .benefits-text{
font-weight: 400;
  }
}
/* team */
.team {
  background-color: #f4f4fd;

}

.team-link {
  background-color: #ffffff;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-link{
margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .team-link{
    margin-bottom: 64px;}
}
@media only screen and (min-width: 1158px) {

} 

.team-section-title {

color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
 
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px; 
 
}

.team-list {
  padding: 0;
  gap: 24px;
  justify-content: center;
  align-items: center;
  
}


@media only screen and (min-width:768px){

  .team-list{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
          
  }
}
@media only screen and (min-width:1158px){
 

  }

.team-name {
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
  font-family: Roboto;
  
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-link {
  width: 264px;
  /* width: calc((100% - 72px) / 4); 
  border-radius: 0px 0px 4px 4px; */
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.team-memb {
  padding: 32px 0;
}
.team-desc {
  text-align: center;

  font-family: Roboto;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.icon-li {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}
.icon-list {
  width: 40px;
  height: 40px;

  fill: #f4f4fd;
  transition-property: background-color;
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.social-link,
.footer-social-link {
  display: flex;
}

/* portfolio section */

.thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  top: 0;
  left: 0;
  overflow: auto;
  background-color: var(--IRIS, #4d5ae5);
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  padding: 40px 32px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto;
  font-size: 16px;
}

.project-link:hover .overlay {
  transform: translateY(0%);
}
.project-title {
  color: #2e2f42;
  text-align: center;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
 
}
.project-link:not(:last-child) {
  margin-bottom: 48px;
}
@media only screen and (min-width: 1158px) {


.project-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.project-link:not(:last-child) {
  margin-bottom: 48px;
}}

@media only screen and (min-width: 768px) {
  .project-list {
    display: flex;
    flex-wrap: wrap;
   gap: 24px;
line-height: 1.5;
}


.project-link:not(:last-child) {
  margin-bottom: 72px;
}

.project-link{
  width: calc((100% - 24px) / 2);
}
}
@media only screen and (min-width: 1158px) {
  /* .project-list {
    min-width: 1128px;
 
} */


.project-link {
  width: calc((100% - 24px*4) / 3);
}}
.project-link {
  align-items: center;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

  /* ptransform */
}

.title-project {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.project-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-cl {
padding: 0 16px;
text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer-cl {display: flex;
    align-items: baseline;
    text-align: start;
    gap: 24px;
    flex-wrap: wrap;

  }
 
}

@media only screen and (min-width: 1158px) {
  .footer-text-block {
    margin-right: 120px;
  }
}

.footer-logo {
  color: #4d5ae5;
 
  display: inline-block;
 
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;

}

.footer-logo-span {
  color: #f4f4fd;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  max-width: 264px;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.footer-media-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-icon-li {
  display: flex;
  gap: 16px;
  /* /* margin-top: 16px; */
  justify-content: center;
  margin-bottom: 72px;
}
.footer-icon-list {
  width: 40px;
  height: 40px;
  fill: #f4f4fd;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.mail-form{
  margin-left: auto;
  
}

@media only screen and (min-width: 768px) {
  .mail-form{
    display: flex;
   margin: 0;
   flex-direction: column;
   }
   .action-cl{
    display: flex;
    align-items: center;
    justify-content: center;


 }

    
}
.footer-input{
  outline: none;

}
.footer-input:hover, .footer-input:focus{
  outline: #31D0AA;
}

.footer-p{
  color: #ffffff;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;

}
.action-cl{
  
  align-items: center;
  gap: 24px;
margin: auto;
}

.label-form{
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em; 
 color: #8e8f99;
 display: block;
 margin-bottom: 4px; 
}
.mail-in{
  border-radius: 4px;
border: 1px solid #ffffff;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
background-color: transparent; 
height: 40px;
padding-left: 16px;
font-size: 12px; 
line-height: 2;
color: #ffffff;
 letter-spacing: 0.04em;
 width: 264px; 
}
.mail-in:placeholder{
  color: #ffffff;
 

}
.mail-send-btn{
  margin-top: 16px;
  font-family: "Roboto", sans-serif ;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
background-color: var(--IRIS, #4D5AE5);
color: var(--WHITE, #FFF);
text-align: center;
min-width: 165px; 
border: none;
cursor: pointer;
font-size: 16px;
height: 40px; 
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

@media only screen and (min-width: 768px) {
.mail-send-btn{
  display: flex;
 margin: 0;

}}
@media only screen and (min-width: 1158px) {
  .mail-send-btn{
    display: flex;
    padding: 8px 24px;
  
}
  .mail-icon{
    margin-left: 16px;
  fill: #FFFFFF;
  display: flex;
  justify-content: center;
  }
}
.mail-icon{
  margin-left: 16px;
fill: #FFFFFF;

}
.mail-send-btn:hover,
.mail-send-btn:focus {
  
  background-color: var(--OCEAN, #404BBF);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}